@charset "utf-8";
$font-prefix: "../../node_modules/library/src/assets/fonts";
@import "library/src/style/base.scss";
@import "./tooltip";
@import "./global";
@import "./layout";
@import "./typography";

.senses-tooltip-select.popover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
  border: 1px solid #f2f2f2d9;
  border-radius: 3px;

  .popover-inner {
    padding: 10px;
  }
}


.highlight {
  background: transparent;
  border: 1px solid #f5f6f8 !important;
  color: getColor(gray, 40);
  transition: border-color $transition, color $transition;

  svg g path {
    stroke: getColor(gray, 40) !important;
    transition: stroke $transition;
  }

  &:hover, &:focus {
    background: transparent;
    border-color: $color-neon !important;
    color: $color-neon;

    svg g path {
      stroke: $color-neon !important;
    }
  }
}