@charset "utf-8";

.wrapper {
  margin: 0 auto;
  max-width: 700px;
}

.container {
  margin: 0 auto;
  width: 80vw;
  max-width: 1500px;
}

.header, .section {
  margin-top: $spacing;

  &.section--methodology {
  	margin-top: $spacing * 2;
  }
}

.page-header {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 2rem;
}

.module-meta {
	margin-top: 10vh;
}

figure {
	margin: 1rem 0;

	header {
		margin-bottom: 1rem;
	}
}