@mixin graphic-text-tick () {
  font-size: 0.6rem;
  fill: $color-light-gray;
}

@mixin graphic-text-label () {
	font-size: 0.6rem;
  fill: $color-dark-gray;
}

@mixin graphic-text-label-2 () {
	font-size: 0.5rem;
  fill: $color-dark-gray;
}