@charset "utf-8";

.container h1 {
	@include headline-1();
	margin-bottom: 2rem;
	margin-top: 4rem;
}

.container h2 {
	@include headline-2();

	strong {
		font-weight: 600;
  	display: inline-block;
    line-height: .65;
    border-bottom: 4px solid #fff;
    transition: border-bottom-color 0.3s;

    &.isHighlighted {
    	border-bottom-color: #fddc21;
    }
	}

	small {
		@include text-1();
	}
}

.container .label-2 {
	@include text-3();
}

.container h3 {
	@include headline-3();
	margin-bottom: 1rem;
}

figcaption {
	color: #797979;
	font-size: 0.75rem;
	font-style: italic;
	letter-spacing: 0.01em;
}

p {
	@include text-default();

	& + p {
		margin-top: 0.5em;
	}

	a {
		color: $color-black;
		text-decoration: underline;
		text-decoration-color: $color-neon;
		background: transparent;
		transition: color 0.3s, text-decoration-color 0.3s;

		&:hover, &:focus {
			color: $color-neon;
			background: transparent;
			text-decoration-color: transparent;
		}
	}

	&.intro {
		@include text-intro();
	}
}

footer p {
	margin-top: 4rem;
	font-style: italic;
	color: #797979;
}

h2 {
	font-size: 1.1rem;
}

.ee { color: #aaa; }
.ccs { color: #feeda1; }
.ets { color: #fdbf6f; }
.ecn { color: #e9f6a1; }
.ecb { color: #b7e075; }
.enr { color: #229c53; }
.effc { color: #da372a; }
.ecff { color: #a50026; }