@charset "utf-8";

.page-header h1 {
	font-family: $font-serif;
	font-size: 3rem;
	margin-bottom: $spacing;
}

h2 {
	font-size: 1.1rem;
}

.ee { color: #aaa; }
.ccs { color: #feeda1; }
.ets { color: #fdbf6f; }
.ecn { color: #e9f6a1; }
.ecb { color: #b7e075; }
.enr { color: #229c53; }
.effc { color: #da372a; }
.ecff { color: #a50026; }